<html>
    <head>
        <title>User Manager - Edit Profile</title>
        <style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .hide {
                display: none;
            }
            .edit-profile {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .form-group {
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               width: 400px;
            }

            .form-group > input {
                margin: 10px;
                width: 200px;
                padding: 5px;
            }

            .form-group > button {
                margin: 10px 0;
                padding: 10px;
                width: 200px;
                border: none;
                text-align: center;
                cursor: pointer;
            }

            .btn-submit {
                color: white;
                background-color: cornflowerblue;
            }
            .btn-cancel {
                color: white;
                background-color:lightslategrey;
            }
        </style>
    </head>
    <body>
        <h1>Edit Profile Page</h1>
        <div class="edit-profile">
            <form name="edit-profile-form" class="form-group" action="/users/update">
                {{if .ThirdPartyAuth}}
                    <input type="text" disabled name="email" value="{{ .Email }}" placeholder="E-mail" />
                {{else}}
                    <input type="text" name="email" value="{{ .Email }}" placeholder="E-mail" />
                {{end}}
                <input type="text" name="full_name" value="{{ .FullName }}" placeholder="Full name" />
                <input type="text" name="address" value="{{ .Address }}" placeholder="Address" />
                <input type="text" name="telephone" value="{{ .Telephone }}" placeholder="Telephone" />
                <button class="btn-submit" type="submit">Save & Continue</button>
                <button class="btn-cancel" type="button" onclick="location.href='/user/profile';">Cancel</a>
            </form>
        </div>
    </body>
</html>