<html>
    <head>
        <title>User Manager - Profile</title>
    </head>
    <body>
        <h1>Profile</h1>
        <p>Email: {{ .Email }}</p>
        <p>Name: {{if .FullName }} {{.FullName}} {{ else }} - {{end}}</p>
        <p>Address: {{if .Address }} {{.Address}} {{ else }} - {{end}}</p>
        <p>Telephone: {{if .Telephone }} {{.Telephone}} {{ else }} - {{end}}</p>
        <p>CreatedAt: {{ .CreatedAt.Format "2006/01/02 15:04:05" }}</p>
        <p>UpdatedAt: {{ .UpdatedAt.Format "2006/01/02 15:04:05" }}</p>

        <div>
            <a href="/user/profile/edit">Edit</a>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>